<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript" scr="../../../dist/main.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>

  <h1>Travel Weather Forecast</h1>

  <div class="container">
    <div id="image">
      <img id="travel-image">
    </div>

    <div id="output">
      <p><h2 id="info-trip"></h2></p>
      <p><h2 id="info-departure"></h2></p>

      <form class="" onsubmit="return handleSubmit(event)">
      <p><input id="city-name" type="text" name="input" value="" placeholder="Enter City and Date Below"></form></p> 
      <p><input id="city-date" type="date" name="date" placeholder="Enter Date"></p>
      
      <!-- Submit button to fetch data from APIs -->
      <input type="submit" class="hoover" name="" value="Save Trip" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
      <!-- Remove button to remove data from the server -->
      <input type="button" class="hoover" name="" value="Remove Trip" onclick="return Client.remove(event)" onsubmit="return Client.remove(event)">
      
      <h3 id="info-days" class="layout"></h3>

      <div id="weather-description" class="layout"></div>
      <div id="weather-low-temp"class="layout"></div>
      <div id="weather-max-temp"class="layout"></div>
    </div>

     
  </div>



  <footer>
    Alen Klaric&copy;
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>              
  </footer> 
  
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    } else {console.log('Service worker not working');}
  </script>
</body>
</html>