<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript" scr="../../../dist/main.js"></script>
</head>
<body>


  <img id="travel-image">
  <p><h2 id="info-trip"></h2></p>
  <p><h2 id="info-departure"></h2></p>

  <form class="" onsubmit="return handleSubmit(event)">
  <p><input id="city-name" type="text" name="input" value="" placeholder="Name"></form></p> 
  <p><input id="city-date" type="date" name="date" placeholder="Date"></p>
  <!-- Submit button to fetch data from APIs -->
  <input type="submit" name="" value="Save Trip" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
  <!-- Remove button to remove data from server -->
  <input type="button" name="" value="Remove Trip" onclick="return Client.remove(event)" onsubmit="return Client.remove(event)">
  
  <h3 id="info-days"></h3>
  <div id="weather-description"></div>
  <div id="weather-low-temp"></div>
  <div id="weather-max-temp"></div>

  




    
  
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    } else {console.log('Service worker not working');}
    </script>
</body>
</html>