

/**** General Properties ****/
body {
    color: #000000 /* #1D1D1F */;
    font-family: sans-serif;
  
    background-color: #F7F6F4;
    text-size-adjust: auto;
    font-size: 20px;
}



// img-wrapper
#travel-image {
	/* max-width: auto;
    max-height: 550px; */
    max-height: 550px;
    width: 100%;

    border-radius: 10px;
	object-fit: cover;
	// When cursor not pointing at image then zoom back
	transition: 0.75s;
    cursor: zoom-in;
    overflow: hidden;
}  

// When cursor pointing at image then zoom in
img:hover {
	transition: transform 0.75s ease;
    transform:scale(1.025);
    overflow: hidden;
}

.card {
    overflow: hidden;
    min-height: 550px;
}

/**** End of Image ***/

/**** Footer ****/
footer {
    position: absolute;
    bottom: 0;
    /* height: 90px; */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
}


/**** End of Footer ****/

